<<<<<<< HEAD
html{
    overflow-y:scroll;
}
=======
html {
    overflow-y: scroll;
}

>>>>>>> remotes/origin/MH/2.06Branch
body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman, sans-serif;
/*    overflow-y: scroll;*/
}

/************************* NAVBAR *************************/
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: #404040;
}

.navbar img {
    height: 50px;
    width: 250px;
}

.navbar ul {
    margin-top: 12px;
    padding-left: 23px;
    font-size: 13px;
    text-align: center;
}

.navbar ul li {
    list-style: none;
}

.nav-link {
    line-height: 30px;
    color: #fff !important;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
    background:none;
    border:none;
}

.nav-link:hover {
    background: #29bea2;
    color: #fff !important;
    text-decoration: none;
}


/************************* LOADING-TOP *************************/

section.top {
    width: 100%; 
    height: 100vh;
    background: url(Images/water.jpeg);
    background-size: cover;
    background-position: center;
}

/*----------------------------------------------*/
section.middle-first {
    padding: 2.5rem;
}

section.middle-first h1 {
    font-weight: bold;
    color: #29bea2;
    margin: 0;
    text-align: center;
}

section.middle-first img {
    padding: 1rem;
}

section.middle-first button {
    background: #cb2027;
    width: 50%;
    color: #fff;
}

section.middle-first .wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;    
}

section.middle-first .wrap-text {
    justify-content: center;
    font-size: 17px;
}

section.middle-first p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

/*----------------------------------------------*/

section.middle-second {
    padding: 2.5rem;
}

section.middle-second .ptext {
    margin: 1rem;
}

section.middle-second h1 {
    font-weight: bold;
    text-align: center;
    color: #29bea2;
}

/************************* FOOTER *************************/
section.footer {
    padding: 25px 0;
    position: relative;
    background: #fff;
    color: #000;
    border-top: 3px solid #29bea2;
    bottom: 0;
    left:0;
}

section.footer h1 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

section.footer p {
    margin: 0;
}

section.footer button {
    margin-top: 5px;
    width: 100%;
    background: #cb2027;
    border: #000;
    text-transform: uppercase;
    opacity: 0.8;
}

section.footer button:hover {
    background: #cb2027;
    opacity: 1;
}

section.footer a {
    color: #000080;
    text-decoration: none;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #00aced;
}

.fa-instagram {
    color: #517fa4;
}

.fa-linkedin {
    color: #007bb6;
}

section.footer .bottom-footer h3{
    font-size: 14px;
    color: grey;
    margin: 20px 0;
}

/************************* VIDEOS *************************/
.video-container {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 70px 500px 80px;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 120px;
}

.video-header {
    color: #000;
    font-size: 22px;
    grid-column: 1 / -1;
}

.video-header i {
    color: blue;
}

#sidebar ul li:hover{
    background: blue;
    cursor: pointer;
    color: #fff;
}

#sidebar ul li {
    color: #000;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #000;
    float: left;
}

.previous {
    padding-left: 5%;
    margin-top: 13px;
}

.next {
    padding-right: 5%;
    margin-top: 13px;
}

#sidebar h3 {
    font-size: 23px;
    color: #29bea2;
    background: #fff;
}

#sidebar ul li::after {
    /*
    content: "\f0cd";
    display: block;
    */
}

.video-menu {
    background: rgba(230, 230, 230, 0.9);;
    color: red;
    padding-top: 2em;
    overflow-y: auto;    
}

.video {
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-footer {
    grid-column: 1 / -1;
    background: rgba(230, 230, 130, 0.9);;
}


/************************* END OF VIDEOS *************************/




/************************* CONTACT *************************/

section.contact-content h2 {
    text-align: center;
    padding: 10px;
}

section.contact-content {
<<<<<<< HEAD
/*    height: 600px;*/
=======
    height: auto;
>>>>>>> remotes/origin/MH/2.06Branch
}

#contact-left {
    display: inline-block;
    padding: 0;
    margin-right: -5px;
    vertical-align: top;
    padding-left: 8%;
    padding-right: 4%;
    color: #888888;
    border: none;
}

#contact-right {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    border: none;
}

#contact-right form {
    display: block;
    margin-top: 0em;  
}

#contact-right form .form-header {
    font-size: 18px;
}

#contact-right form .input-body {
    margin-bottom: 3%;
    width: 600px;
    height: 60px;
    font-size: 16px;
    padding-left: 2%;
    border: 2px solid #262626;
    border-radius: 8px;
}

#contact-right form textarea {
    height: 100px !important;
}

#contact-right form h4 {
    font-size: 16px;
}

#contact-send {
    width: 600px;
    height: 60px;
    background: #29bea2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.card {
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.star {
    color: #29bea2;
}

/************************* END OF CONTACT *************************/





/************************* LOGIN/SIGNUP *************************/
.container-form {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-bottom: 10%;
    margin-top: 2%;
}

.header {
    text-align: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    background: #005b96;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wrapper >* {
    padding: 1.3rem;

}

.wrapper {
    border-radius:15px;
    border: 1px black solid;
    box-shadow: 0 0 20px rgba(72,94,116,0.7);
}

.contact {
    background: #fff;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.contact form label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.contact form p {
    margin: 0;
}

.contact form input {
    background: #d3d3d3;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    opacity: .5;
}

.contact form input:focus {
    background: #eee;
    transition: 1s;
    outline-color: #71eeb8;
    opacity: 1;
}

.contact form .privacy {
    text-align: center;
    font-size: 13px;
}

.contact form .full {
    text-align: center;
}

.contact form .full a {
    font-size: 13px;
    color: #000080;
}

.contact form .privacy a {
    color: #000;
    font-weight: bold;
}

.contact form input {
    width: 100%;
    padding: .5em;
}

.contact form button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background: #005b96;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}

#signin-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #005b96;
    color: #fff;
    text-align: center;
}

#signin-footer a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.error{
    font-weight:bold;
    color:red;
}

/************************* END OF LOGIN/SIGNUP *************************/




/************************* CHECKOUT *************************/

.grid {
    display: grid;
    grid-template-columns: 50% 49%;
    grid-column-gap: 1em;
    width: 100%;
    padding: 2em;
}

.grid > div {
    padding: .5em;
}


.bundle-info .cart{
    padding: .7em;
}

.bundle-info items {
    padding-left: 15px;
}

.bundle-info .cart h5 {
    font-size: 18px;
}

#totoal-cost {
    float: right;
}

.billing-info form{
    display: grid;
    padding: 1em;
    grid-gap: 1em;
}

.billing-info form input {
    font-size: 12px;
    padding: 8px;
    width: 100%;
}

.billing-info button {
    background: #cb2027;
    color: #fff;
    margin-left: 16px;
    width: 120px;
}

.grid img {
    height: 50px;
    width: 80px;
}

/************************* END OF CHECKOUT *************************/



/************************* ACCOUNT PAGE *************************/

.heading {
    padding-left: 3%;
    font-size: 25px;
    color: #0D4F8B;
}

.account-profile {
    color: #000;
    padding: 3em;
}

.account-profile input {
    width: 360px;
    padding-left: 4px;
}

.change-info {
    padding: 2em;
}

.change-info label {
    font-size: 18px;
    padding-left: 1.3em;
}

.change-info button {
    width: 135px;
    background: #0D4F8B;
    color: #fff;
}

#save-edits {
    width: 150px !important;
    height: 50px;
}


/************************* END OF ACCOUNT PAGE *************************/
















/************************* MEDIA QUERIES *************************/
/*
@media screen and (max-width: 1050px) {

.responsive-bar {
display: block;
width: 100%;
height: 2px;
background: #101010;
top: 0;
left: 0;
padding: 5px 20px;
box-sizing: border-box;
z-index: 1;
}

.responsive-bar .logo img {
float: left;
height: 45px;
padding-top: 3px;
}

.responsive-bar .menu h4 {
float: right;
color: #fff;
margin: 0;
padding: 0;
line-height: 60px;
text-transform: uppercase;
cursor: pointer;
}

nav {
background: #101010;
height: 60px;
padding: 0;
}

nav .logo {
display: none;
}

nav ul {
position: absolute;
width: 100%;
top: 60px;
left: 0;
background: #101010;
float: none;
display: none;
}

nav ul.active {
display: block;
}

nav ul li {
width: 100%;
}

nav ul li a {
display: block;
padding: 0;
width: 100%;
text-align: center;
line-height: 40px !important;
color: #fff;
}

#contact-send {
background: #f00;
}
}
*/

