body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman, sans-serif;
}

/************************* NAVBAR *************************/
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: #404040;
}

.navbar img {
    height: 50px;
    width: 250px;
}

.navbar ul {
    margin-top: 12px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    float: right;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    line-height: 30px;
    color: #fff;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.navbar ul li a:hover {
    background: #29bea2;
    color: #fff;
    text-decoration: none;
}

/************************* LOADING-TOP *************************/

section.top {
    width: 100%; 
    height: 100vh;
    background: url(Images/water.jpeg);
    background-size: cover;
    background-position: center;
}

/*----------------------------------------------*/
section.middle-first {
    padding: 2.5rem;
    background: #e5e6eb;
}

section.middle-first h1 {
    font-weight: bold;
    color: #29bea2;
    margin: 0;
    text-align: center;
}

section.middle-first img {
    padding: 1rem;
}

section.middle-first button {
    background: #cb2027;
    width: 50%;
    color: #fff;
}

section.middle-first .wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;    
}

section.middle-first .wrap-text {
    justify-content: center;
    font-size: 17px;
}

section.middle-first p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

/*----------------------------------------------*/

section.middle-second {
    padding: 2.5rem;
}

section.middle-second .ptext {
    margin: 1rem;
}

section.middle-second h1 {
    font-weight: bold;
    text-align: center;
    color: #29bea2;
}

/************************* FOOTER *************************/
section.footer {
    padding: 25px 0;
    position: relative;
    background: #363636;
    color: #fff;
    border-top: 3px solid #29bea2;
}

section.footer h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

section.footer p {
    margin: 0;
}

section.footer button {
    margin-top: 5px;
    width: 50%;
    background: #cb2027;
    border: #000;
    text-transform: uppercase;
    opacity: 0.8;
}

section.footer button:hover {
    background: #cb2027;
    opacity: 1;
}

section.footer a {
    color: #fff;
    text-decoration: none;
}

.fa {
    background: #fff;
    margin: 3px;
}

section.footer .bottom-footer h3{
    font-size: 14px;
    color: grey;
    margin: 20px 0;
}



/************************* VIDEOS *************************/







/************************* END OF VIDEOS *************************/




/************************* CONTACT *************************/

section.contact-content h2 {
    text-align: center;
    padding: 10px;
}

section.contact-content {
    height: 500px;
}

#contact-left {
    display: inline-block;
    padding: 0;
    margin-right: -5px;
    vertical-align: top;
    padding-left: 8%;
    padding-right: 4%;
    color: #888888;
    border: none;
}

#contact-right {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    border: none;
}

#contact-right form {
    display: block;
    margin-top: 0em;  
}

#contact-right form .form-header {
    font-size: 18px;
}

#contact-right form .input-body {
    margin-bottom: 3%;
    width: 600px;
    height: 60px;
    font-size: 16px;
    padding-left: 2%;
    border: 2px solid #262626;
    border-radius: 8px;
}

#contact-right form textarea {
    height: 100px !important;
}

#contact-right form h4 {
    font-size: 16px;
}

#contact-send {
    width: 600px;
    height: 60px;
    background: #29bea2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.card {
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.star {
    color: #29bea2;
}

/************************* END OF CONTACT *************************/





/************************* LOGIN/SIGNUP *************************/
#formscreen {
    background: #d3d3d3;
}

.container-form {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-bottom: 10%;
    margin-top: 2%;
}

.header {
    text-align: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    background: #005b96;
}

.wrapper >* {
    padding: 1.3rem;
}

.wrapper {
    box-shadow: 0 0 20px rgba(72,94,116,0.7);
}

.contact {
    background: #fff;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 22px;
}

.contact form label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.contact form p {
    margin: 0;
}

.contact form input {
    background: #e7eeef;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    opacity: .4;
}

.contact form input:focus {
    background: #eee;
    transition: 1s;
    outline-color: #29bea2;
    opacity: 1;
}

.contact form .privacy {
    text-align: center;
    font-size: 13px;
}

.contact form .full {
    text-align: center;
}

.contact form .full a {
    font-size: 13px;
    color: #000080;
}

.contact form .privacy a {
    color: #000;
    font-weight: bold;
}

.contact form input {
    width: 100%;
    padding: .5em;
}

.contact form button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background: #005b96;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}

#signin-footer {
    background: #005b96;
    color: #fff;
    text-align: center;
}

#signin-footer a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

/************************* END OF LOGIN/SIGNUP *************************/




/************************* MEDIA QUERIES *************************/
/*
@media screen and (max-width: 1050px) {

.responsive-bar {
display: block;
width: 100%;
height: 2px;
background: #101010;
top: 0;
left: 0;
padding: 5px 20px;
box-sizing: border-box;
z-index: 1;
}

.responsive-bar .logo img {
float: left;
height: 45px;
padding-top: 3px;
}

.responsive-bar .menu h4 {
float: right;
color: #fff;
margin: 0;
padding: 0;
line-height: 60px;
text-transform: uppercase;
cursor: pointer;
}

nav {
background: #101010;
height: 60px;
padding: 0;
}

nav .logo {
display: none;
}

nav ul {
position: absolute;
width: 100%;
top: 60px;
left: 0;
background: #101010;
float: none;
display: none;
}

nav ul.active {
display: block;
}

nav ul li {
width: 100%;
}

nav ul li a {
display: block;
padding: 0;
width: 100%;
text-align: center;
line-height: 40px !important;
color: #fff;
}

#contact-send {
background: #f00;
}
}
*/

